<!DOCTYPE html>
<html>
<head>

</head>
<body>

<ul>
  <li><img src='assets/deals.jpg' height="110px"></li>
  <li><a class="active" href="header">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a routerLink="">About Us</a></li>
      <li><img src='assets/search.jpg' height="60px "></li>
      <li><a href="login">Login</a></li>
      
</ul>

<carousel>
    <slide>
      <img src="assets/m1.png" alt="first slide" style="display: block; width: 45%;">
    </slide>
    <slide>
      <img src="assets/m3.jpg" alt="second slide" style="display: block; width: 50%;">
    </slide>
    <slide>
      <img src="assets/m5.png" alt="third slide" style="display: block; width: 50%;">
    </slide>
  </carousel>


<footer>
    <p  class="text-xs-center">© Copyright 2019. All rights reserved.</p>

  </footer>
</body>












</html>
